# .gitignore porcrp
*.iml
.gradle
.gitkeep
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


# .gitignore scv-server
# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

bin
target
build/
out/
.gradle

### STS ###
.mvn/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml

mem*.db

README.html


# .gitignore
node_modules
dist
package-lock.json
