<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-card>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle"><img [src]="urlImagem" class="img">
                                <br><span style="font-size: 28;">{{ nomeSistema }}</span>
                                <br><span style="font-size: 18;">Versão {{ versao }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
</div>